{% extends 'base.html' %}

{% block title %}Add Entry{% endblock %}

{% block content %}
<div>
    <a href="{% url 'dashboard'%}" class="btn btn-outline-primary my-3 mx-4">Go back</a>
</div>
<h2 class="text-center mb-4">Add a New Entry</h2>
<form method="POST" action="{% url 'add_entry' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" name="category" required>
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" name="date" required>
    </div>
    <div class="form-group">
        <label for="number">Quantity</label>
        <input type="number" class="form-control" id="number" name="number" required>
    </div>
    <div class="form-group">
        <label for="details">Details</label>
        <textarea class="form-control" id="details" name="details" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Add Entry</button>
</form>
{% endblock %}
